.homeContainer{
    display: flex;
    width: 100%;
}
.app{
    background-color: black;
    color: white;
}

@media only screen and (max-width: 800px) {
    .responsiveright{
       display: none;
    }
}  